#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	xbuild /tv:4.0 /target:build /p:Configuration=Release BDInfo.sln
	dh_auto_build

override_dh_auto_install:
	dh_install BDInfo/bin/Release/BDInfo.exe /usr/bin
	dh_auto_install

override_dh_clean:
	xbuild /tv:4.0 /target:clean /p:Configuration=Release BDInfo.sln
	dh_clean
